<div class="d-flex">
    <div class="col-md-12 col-6">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="col">رقم الحجز</div>
                    <div class="col">{{reservation.dataValues.id}}</div>
                </li>
                <li class="list-group-item">
                    <div class="col">تاريخ الحجز</div>
                    <div class="col">{{reservation.dataValues.date}}</div>
                </li>
                <li class="list-group-item">
                    <div class="col">موقع الحجز</div>
                    <div class="col">{{reservation.dataValues.location}}</div>
                </li>
                <li class="list-group-item">
                    <div class="col"> حالة الحجز</div>
                    <div class="col">{{reservation.status.dataValues.status}}</div>
                </li>
                <li class="list-group-item">
                    <div class="col">اسم الزبون</div>
                    <div class="col">{{reservation.customer.dataValues.name}}</div>
                </li>
                <li class="list-group-item">
                    <div class="col">رقم الزبون</div>
                    <div class="col">{{reservation.customer.dataValues.phoneNumber}}</div>
                </li>
                <li class="list-group-item">
                    <div class="col">موديل السيارة</div>
                    <div class="col">{{reservation.car.dataValues.model}}</div>
                </li>
                <li class="list-group-item">
                    <div class="col">لون السيارة</div>
                    <div class="col">{{reservation.car.dataValues.color}}</div>
                </li>
            </ul>
        </div>
        <div>
            {{#ifEquel reservation.status.dataValues.status "في الانتظار"}}
                <form action="/dashboard/reservation/{{reservation.dataValues.id}}?_method=PUT" method="post">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="input-group">
                        <select class="form-select" name="pickerId">
                            {{#each pickers }}
                                <option 
                                    value="{{this.dataValues.id}}"
                                    {{#ifEquel this.dataValues.id lastPickerChoosed}}
                                        selected
                                    {{/ifEquel}}
                                >
                                    {{this.dataValues.name}}
                                </option>
                            {{/each}}
                        </select>
                        <button class="btn btn-primary" type="submit">حفظ</button>
                        {{#if pickerNotAvailableError }}
                            <p class="alert alert-danger">{{pickerNotAvailableError}}</p>
                        {{/if}}
                    </div>
                </form>
            {{/ifEquel}}
        </div>
    </div>
</div>