<h4 class="mb-4 text-center">اضافة بايكر</h4>
<form method="POST" action="/dashboard/pickers" enctype="multipart/form-data">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="الاسم" name="name"
            {{#if lastValues.name }}
                value="{{lastValues.name}}"
            {{/if}}
        >
    </div>
    {{#findError validationErrors "name" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}
    
    <div class="mb-3">
        <input type="email" class="form-control" placeholder="الايميل" name="email"
            {{#if lastValues.email }}
                value="{{lastValues.email}}"
            {{/if}}
        >
    </div>
    {{#findError validationErrors "email" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}

    <div class="mb-3">
        <input type="tel" class="form-control" placeholder="رقم الهاتف" name="phoneNumber"
            {{#if lastValues.phoneNumber }}
                value="{{lastValues.phoneNumber}}"
            {{/if}}
        >
    </div>
    {{#findError validationErrors "phoneNumber" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}

    <div class="mb-3">
        <input type="password" class="form-control" placeholder="كلمة المرور" name="password"
            {{#if lastValues.password }}
                value="{{lastValues.password}}"
            {{/if}}
        >
    </div>
    {{#findError validationErrors "password" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}

    <div class="mb-3">
        <input type="password" class="form-control" placeholder="تاكيد كلمة المرور" name="confirmPassword"
            {{#if lastValues.confirmPassword }}
                value="{{lastValues.confirmPassword}}"
            {{/if}}
        >
    </div>
    {{#findError validationErrors "confirmPassword" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}

    <div class="mb-3">
        <label for="formFile" class="form-label">اضف صورة البايكر</label>
        <div class="input-group">
            <button class="btn btn-secondary" type="button" id="inputGroupFileAddon">اختار ملف</button>
            <input type="text" class="form-control" placeholder="لم يتم اختيار ملف" readonly>
            <input class="form-control" type="file" id="formFile" style="display: none;" name="image">
        </div>
    </div>
    {{#findError validationErrors "image" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}
    <div class="mb-3">
        <input type="datetime-local" class="form-control" placeholder="اختار يوم بدا العمل" name="startWorkAt"
            {{#if lastValues.startWorkAt }}
                value="{{lastValues.startWorkAt}}"
            {{/if}}
        >
    </div>
    {{#findError validationErrors "startWorkAt" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">إرسال</button>
    </div>

</form>

<script>
    const inputGroupFile = document.getElementById('inputGroupFileAddon');
    const inputGroupFileInput = document.getElementById('formFile');
        inputGroupFile.addEventListener('click', () => {
        inputGroupFileInput.click();
    });
        inputGroupFileInput.addEventListener('change', () => {
        inputGroupFileInput.previousElementSibling.value = inputGroupFileInput.files[0].name;
    });
</script>