<h4>اضافة خدمة</h4>
<form method="POST" action="/dashboard/services/{{service.dataValues.id}}/update?_method=PUT" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="PUT">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="الاسم" name="name"
            value="{{#or lastValues.name service.dataValues.name}}{{/or}}"
        >
    </div>
    {{#findError validationErrors "name" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}
    <div class="mb-3">
        <textarea class="form-control" rows="3" placeholder="الوصف" name="description">{{#or service.dataValues.description lastValues.description }}{{/or}}</textarea>
    </div>
    {{#findError validationErrors "description" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}
    <div class="mb-3">
        <input type="number" class="form-control" placeholder="السعر" name="price" step="0.01"
            value="{{#or lastValues.price service.dataValues.price}}{{/or}}"
        >
    </div>
    {{#findError validationErrors "price" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="isAdditional">
        <option selected value="false">نوع الخدمة</option>
        <option value="true" 
            {{#if service.dataValues.isAdditional }}
                selected
            {{/if}}    
        >اضافة</option>
        <option value="false"
            {{#if service.dataValues.isAdditional }}    
            {{else}}
                selected
            {{/if}}   
            >
            اساسية
        </option>
    </select>
    {{#findError validationErrors "isAdditional" }}
		<p class="alert alert-danger py-2">{{ msg }}</p>
    {{/findError}}

    {{#if updateServiceError}}
		<p class="alert alert-danger py-2">{{ updateServiceError }}</p>
    {{/if}}
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">تعديل</button>
    </div>
</form>
