<%- include("../partials/header") %>
<h4>تعديل خدمة</h4>
<form method="POST" action="/dashboard/services/<%= service.dataValues.id %>/update?_method=PUT" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="PUT">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="الاسم" name="name"
            value="<%= lastValues?.name || service.dataValues.name %>"
        >
    </div>
    <% const nameError = validationErrors.find(error => error.param === 'name'); %>
    <% if (nameError) { %>
        <p class="alert alert-danger py-2"><%= nameError.msg %></p>
    <% } %>
    <div class="mb-3">
        <textarea class="form-control" rows="3" placeholder="الوصف" name="description"><%= service.dataValues.description || lastValues.description %></textarea>
    </div>
    <% const descriptionError = validationErrors.find(error => error.param === 'description'); %>
    <% if (descriptionError) { %>
        <p class="alert alert-danger py-2"><%= descriptionError.msg %></p>
    <% } %>
    <div class="mb-3">
        <input type="number" class="form-control" placeholder="السعر" name="price" step="0.01"
            value="<%= lastValues?.price || service.dataValues.price %>"
        >
    </div>
    <% const priceError = validationErrors.find(error => error.param === 'price'); %>
    <% if (priceError) { %>
        <p class="alert alert-danger py-2"><%= priceError.msg %></p>
    <% } %>
    <% if (updateServiceError) { %>
        <p class="alert alert-danger py-2"><%= updateServiceError %></p>
    <% } %>
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">تعديل</button>
    </div>
</form>
<%- include("../partials/footer") %>
