<%- include("../partials/header") %>
<form action="/dashboard/services" method="get">
    <div class="input-group">
        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="isAdditional">
            <option 
                 <% if (isAdditional) { %>
                    selected
                <% } %>
                value="true">اضافية</option>
            <option value="false"
                <% if (isAdditional) { %>
                    <% } else { %>
                        selected
                    <% } %>
                    >اساسية</option>
            </select>
            <button class="btn btn-primary" type="submit">فلتر حسب نوغ الخدمة</button>
        </div>
    </form>
    <h3 class="text-center mt-5 mb-3">
        <% if (isAdditional) { %>
            الخدمات الاضافية
        <% } else { %>
            الخدمات
        <% } %>
    </h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">الاسم</th>
                <th scope="col">السعر</th>
                <th scope="col">الصورة</th>
                <th scope="col">النوع</th>
                <th scope="col">عدد الحجوازات</th>
                <th scope="col">تعديل</th>
            </tr>
        </thead>
        <tbody>
        <% services.forEach(function(service) { %>
            <tr>
                <td class="py-3">
                    <a href="/dashboard/services/<%= service.dataValues.id %>" class="text-decoration-none text-primary"><%= service.dataValues.name %></a>
                </td>
                <td class="py-3"><%= service.dataValues.price %></td>
                <td>
                    <img src=<%= service.dataValues.image %> alt=<%= service.dataValues.name %> style="width: 60px; height: 60px"> 
                </td>
                <td class="py-3">
                    <% if (service.dataValues.isAdditional) { %>
                        اضافية
                    <% } else { %>
                        اساسية
                    <% } %>
                </td>
                <td class="py-3"><%= service.dataValues.numberOfReservation %></td>
                <td class="py-3">
                    <a rel="stylesheet" href="/dashboard/services/<%= service.dataValues.id %>/edit" class="btn btn-outline-primary">تعديل</a>
                </td>
            </tr>
        <% }); %>
      <!-- Add more rows as needed -->
      
        </tbody>
    </table>
    <% if (services.length) { %>
    <% } else { %>
        <p class="alert alert-info">لا توجد خدمات مضافة</p>        
    <% } %>
</div>
<div class="text-center mt-3">
    <a class="btn btn-primary" href="/dashboard/services/create">اضافة خدمة جديدة</a>
</div>            
<%- include("../partials/footer") %>