<%- include("../partials/header") %>
<div class="mt-4">
  <div class="row">
    <div class="col-12 col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <p>الاسم</p>
            </div>
            <div class="col">
              <p class="text-center"><%= service.dataValues.name %></p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <p>نوع الخدمة</p>
            </div>
            <div class="col">
              <p class="text-center"><%= service.dataValues.isAdditional ? "اضافية" : "اساسية" %></p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <p>السعر</p>
            </div>
            <div class="col">
              <p class="text-center"><%= service.dataValues.price %></p>
            </div>
          </div>
        </li>
        <!-- <li class="list-group-item">
          <div class="row">
            <div class="col">
              <p>عدد الحجوازات</p>
            </div>
            <div class="col">
              <p class="text-center"><%= service.dataValues.numberOfReservation %></p>
            </div>
          </div>
        </li> -->
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <p>الوصف</p>
            </div>
            <div class="col">
              <p class="text-center"><%= service.dataValues.description %></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6 text-center">
      <img src="https://tvp-system.s3.amazonaws.com/<%= service.dataValues.image %>" alt=<%= service.dataValues.name %> width="100%" height="250px">
    </div>
  </div>
  <div>
  <% if (service.servicesDiscount) { %>
      <div class="d-flex justify-content-center mt-4 mb-3">
        <div class="col">
          <h5>الخصم</h5>
        </div>
        <div class="col">
          <% /* delete discount */ %>
          <form action="/dashboard/services/<%= service.dataValues.id %>/discount/<%= service.servicesDiscount.dataValues.id %>?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <% if (deleteDiscountError) { %>
            <p class="alert alert-danger"><%= deleteDiscountError %></p>
            <% } %>
            <button type="submit" class="btn btn-danger">حذف الخصم</button>
          </form>
        </div>
      </div>
      <form action="/dashboard/services/<%= service.dataValues.id %>/discount/<%= service.servicesDiscount.dataValues.id %>?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="mb-3">
          <input type="datetime-local" class="form-control" id="discountCode" name="expirationAt" placeholder="انتهاء الخصم" 
            value="<%= lastDiscountValues?.expirationAt || service.servicesDiscount.dataValues.expirationAt.toISOString().slice(0, 16) %>"
          >
        </div>
        <% const expirationatError = discountValidationErrors.find(error => error.param === "expirationAt"); %>
        <% if (expirationatError) { %>
            <p class="alert alert-danger py-2"><%= expirationatError.msg %></p>
        <% } %>
        <div class="mb-3">
          <input type="number" class="form-control" id="discountCode" name="percentage" placeholder="نسبة الخصم" 
            value="<%= lastDiscountValues?.percentage || service.servicesDiscount.dataValues.percentage %>"
          >
        </div>
        <% const percentageError = discountValidationErrors.find(error => error.param === "percentage"); %>
        <% if (percentageError) { %>
            <p class="alert alert-danger py-2"><%= percentageError.msg %></p>
        <% } %>
        <% if (updateDiscountError) { %>
          <p class="alert alert-danger"><%= updateDiscountError %></p>
        <% } %>
        <button type="submit" class="btn btn-primary"><%= service ? 'تعديل الخصم' : 'اضافة الخصم' %></button>
      </form>
    <% } else { %>
        <h5 class="text-center mt-4 mb-3">اضافة الخصم</h5>
        <form action="/dashboard/services/<%= service.dataValues.id %>/discount/store" method="post">
          <div class="mb-3">
            <input type="datetime-local" class="form-control" id="discountCode" name="expirationAt" placeholder="انتهاء الخصم"
              value="<%= lastDiscountValues?.expirationAt || "" %>"  
            >
          </div>
          <% const expirationatError = discountValidationErrors.find(error => error.param === "expirationAt"); %>
          <% if (expirationatError) { %>
              <p class="alert alert-danger py-2"><%= expirationatError.msg %></p>
          <% } %>
          <div class="mb-3">
            <input type="number" class="form-control" id="discountCode" name="percentage" placeholder="نسبة الخصم"
              value="<%= lastDiscountValues?.percentage || "" %>"
            >
          </div>
          <% const percentageError = discountValidationErrors.find(error => error.param === "percentage"); %>
          <% if (percentageError) { %>
              <p class="alert alert-danger py-2"><%= percentageError.msg %></p>
          <% } %>
          <% if (createDiscountError) { %>
            <p class="alert alert-danger"><%= createDiscountError %></p>
          <% } %>
          <button type="submit" class="btn btn-primary">اضافة خصم</button>
        </form>
    <% } %>

  </div>
</div>
<%- include("../partials/footer") %>