<%- include("../partials/header") %>
<h2 class="text-center">الحجوزات</h2>
<form action="/dashboard/reservations" method="get">
  <div class="input-group">
    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="status">
      <% statuses.forEach(function(statusObj) { %>
      <option value="<%= statusObj.dataValues.name %>" <% if (status === statusObj.dataValues.name) { %> selected <% } %>><%= statusObj.dataValues.name %></option>
      <% }); %>
    </select>
    <button class="btn btn-primary" type="submit">فلتر الخدمات حسب الحالة</button>
  </div>
</form>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">الرقم</th>
        <th scope="col">المبلغ</th>
        <th scope="col">التاريخ</th>
        <th scope="col">المكان</th>
        <th scope="col">اسم الزبون</th>
        <th scope="col">رقم هاتف الزبون</th>
        <th scope="col">الخدمة الاساسية</th>
      </tr>
    </thead>
    <tbody>
      <% reservations.forEach(function(reservation) { %>
      <tr>
        <td class="py-3">
          <a href="/dashboard/reservations/<%= reservation.dataValues.id %>" class="text-decoration-none text-primary"><%= reservation.dataValues.id %></a>
        </td>
        <td class="py-3"><%= reservation.dataValues.amount %></td>
        <td class="py-3"><%= new Date(reservation.dataValues.date).toLocaleDateString("ar-EG") %></td>
        <td class="py-3"><%= reservation.dataValues.location %></td>
        <td>
          <a href="/dashboard/customers/<%= reservation.customer.dataValues.id %>" class="text-decoration-none text-primary"><%= reservation.customer.dataValues.name %></a>
        </td>
        <td class="py-3"><%= reservation.customer.dataValues.phoneNumber %></td>
        <td class="py-3"><%= reservation.service.dataValues.name %></td>
      </tr>
      <% }); %>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
<div class="mt-3">
  <% if (numberOfReservations > 0) { %>
    <% if (numberOfReservations > 10) { %>
        <div class="d-flex justify-content-center">
          <% const numberOfPages = Math.ceil(numberOfReservations / 10)  %>
          <% const endPage = (page + 5) > numberOfPages ? numberOfPages : page + 5 %>
          <div class="paginations">
              <ul class="pagination">
                  <li class="page-item<%= (page == 1) ? " disabled" : "" %>"><a class="page-link" href="/dashboard/reservations?status=<%= status %>&page=<%= page - 1 %>">السابق</a></li>
                  <% for(let i = page; i <= endPage; i++) { %>
                      <li class="page-item">
                          <a class="page-link" href="/dashboard/reservations?status=<%= status %>&page=<%= i %>"><%= (i).toLocaleString('ar-EG');%></a>
                      </li>
                  <% } %>
                  <li class="page-item<%= (numberOfPages > 1 && page < numberOfPages) ? "" : " disabled" %>"><a class="page-link" href="/dashboard/reservations?status=<%= status %>&page=<%= page + 1 %>">التالي</a></li>
              </ul>
          </div>
        </div>
    <% } %>
  <% } else { %>
    <p class="alert alert-info"><%= status %> لا توجد حجوازات</p>
  <% } %>
</div>


<%- include("../partials/footer") %>